html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

.row {
  marging-left: 0px;
  margin-right: 0px;
}

.main-body {
  top: 51px;
  position: relative;
}

.footer {
  //display: block;
  display: none;
  position: relative;
  margin-left: 0px;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}

.panel {
  float: left;
  height: 250px;
  width: 219px;
  margin: 1.66%;
  background-color: #1E1E1E;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .panel {
    height: 250px;
    width: 260px;
  }
}

.panel-title {
  color: white;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.panel-body {
  color: yellow;
  padding: 15px;
  overflow: hidden;
  max-height: 85%;
}

.container {
  width: 100%;
}

i.close-icon {
  float: right;
  position: relative;
  top: -12px;
  font-size: 30px;
  color: white;
  left: 5px;
}

i.close-icon:hover {
  color: red;
  cursor: pointer;
}

.center {
  text-align: center;
}
